table {
    width: 100%;
    border: 1px solid red;  
}
 tr,td,th{
    border: 1px solid black;  
    padding: 10px;
 }
 .input-group{
     display: inline-block;
     vertical-align: top;
 }

 .placeholder{

  padding-right: 100px;
 }
 .strong{
     font-weight: 600;
     font-size: 19px;
 }


 .panel-body .title{
     text-align: center;
 }

.panel-warpper {
    border: 2px solid #000000;
    padding: 1em;
    margin: 1em;
    display: block;
}

.panel-header {
    position: relative;
    top: -1.7em;
    background-color: #ffffff;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 1.2rem;
    font-weight: bold;
    width: 6%;
}